/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea/commandlinetools/Laravel_5_03_24__12_08_a__m_.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/todopisos-website.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
