.logo-todopisos{
    width: 100%;
}
.navigation-menu {
    margin-top: 15px;
}
.table {
    width: 100%;
}

h1,h2,h3,h4,h5{
    font-family: Montserrat;
}

.nav-link{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: Montserrat;
    font-size: 18px;
}

.nav-link:hover{
    text-decoration: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.section {
    padding: 50px 10px 50px 10px;
}

.section-title {
    background-color: #333;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.section-secondary-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Welcome*/
.resume {
    background-color: #C8C8C8;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

.resume_title {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: bold;
}

.resume_text {
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
}

.lady, .about-img {
    margin: 10px;
    height: 100%;
}

/*Quienes somos*/
.member-team {
    padding: 10px;
}

/*Contáctenos*/
.table-address {
    font-family: Roboto;
    font-size: 15px;
}

.contact-form-text {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
}
